html {
background: url(wall.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
font-size: 12;
}


#myContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -60%);
   box-shadow: 5px 5px 3px #888888;
}

h1{
font-family: 'Open Sans Condensed', sans-serif;
	font-size:2em;
}

#title {
	position:absolute;
	width:100%;
	text-align: right;
	bottom:0px;
right: 15px;
